#logo {
    float: $position3;
    width: 183px; 
}
  
#nav {
    float: right;
    width: 655px;
    position: $position; 
}
  
#nav-link-email {
    font-size: 13px;
    color: $color2;
    text-decoration: $list;
    position: $position1;
    top: $zero;
    right: $zero; 
} 
#nav-list {
    list-style: $list;
    margin: 45px 0 0 0;
    padding: $zero; 
}
#nav-list li {
    float: $position3; 
    + li {
        margin-left: 64px; 
    }
    a {
        font-size: 12px;
        font-weight: bold;
        color: $color3;
        text-decoration: $list;
        text-transform: $capitalletter; 
    }
}
