$color:#e2e2e2;
$color1:#5d5d5d;
$color2:#999898;
$color3:#fe9b00;
$color4:#090909;
$color5:#c0c0c0;

$position:relative;
$position1:absolute;

$position2:right;
$position3:left;

$list:none;
$capitalletter:uppercase;
$repeat:no-repeat;
$fonts: Arial, Helvetica, sans-serif;
$zero: 0;

$url:url('../img/check.png');
$url1:url(../img/flecha.png);